.footer {
  align-items: center;
  background-color: rgb(223, 222, 222);
  color: rgb(100, 99, 99);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 300px;
  justify-content: center;
  text-align: left;
  width: 100%;
  z-index: 1;
  h4 {
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
  }
  div {
    margin: 0;
    padding: 20px;
    height: 80%;
    position: relative;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding-top: 5px;
    }
  }

  .customer_care_section ul li::after {
    content: '>';
    padding-left: 5px;
  }

  .social_media_section ul {
    display: flex;
    justify-content: flex-start;
    li {
      padding-right: 15px;
      a:hover {
        color: rgb(0, 0, 0);
      }
    }
  }

  a {
    color: rgb(100, 99, 99);
    text-decoration: none;
  }
  div:nth-of-type(2)::before,
  div:nth-of-type(3)::before,
  div:nth-of-type(4)::before {
    content: '';
    top: 0;
    left: 0;
    transform: translateY(calc(50% - 35%));
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: rgb(194, 194, 194);
    border-radius: 50% 50% 50% 50%;
  }
}

.copywright {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  p {
    margin: 20px;
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 350px;
    margin: 0;
    padding: 0;
    div {
      height: auto;
      display: flex;
      justify-content: flex-start;
      padding: 0 20px;
      width: 80%;
      h4 {
        width: 50%;
      }
    }
    div:nth-of-type(1) {
      width: 80%;
    }
    div:nth-of-type(2)::before,
    div:nth-of-type(3)::before,
    div:nth-of-type(4)::before {
      display: none;
    }
    div:nth-of-type(2),
    div:nth-of-type(3),
    div:nth-of-type(4) {
      h4 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 0;
        &:after {
          content: '';
          bottom: 0;
          left: 0;
          transform: translateY(calc(50% - 35%));
          position: absolute;
          height: 0.5px;
          width: 70%;
          background-color: rgb(194, 194, 194);
          border-radius: 50% 50% 50% 50%;
        }
      }
    }
    .logo {
      height: 10%;
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 580px) {
  .footer {
    .social_media_section {
      ul {
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 510px) {
  .footer {
    height: 450px;
    div {
      padding: 0;
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    div {
      h4 {
        font-size: 14px;
        &::after {
          display: none;
        }
      }
      ul {
        &:nth-child(1),
        &:nth-child(2) {
          li {
            &:nth-child(1) {
              padding-top: 0;
              margin-top: 0;
            }
          }
        }
        &:nth-last-child(1) {
          li {
            padding-top: 0;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .sale {
    h3 {
      font-size: 1.5rem;
    }
  }
  .footer {
    .div {
      flex-direction: column;
      flex-wrap: wrap;
    }
    h4 {
      width: 40%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
    }
  }
}

@media (max-width: 250px) {
  .footer {
    height: auto;
  }
}
