.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.main_page_offer {
  height: 570px;
}

.first {
  background-color: rgba(76, 151, 157, 0.3);
}

.second {
  background-color: rgb(147, 123, 99, 0.3);
}

div.first,
div.second {
  width: 100%;
  height: 300px;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.photo_left,
.tail_right,
.photo_right,
.tail_left {
  display: flex;
  height: 100%;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photo_left,
.photo_right,
.accessories,
.winter_sale {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.accessories,
.winter_sale {
  position: relative;
  .sale_heading {
    position: absolute;
  }
}

.tail_left,
.tail_right {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h3 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2em;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s linear;
  }
  a:hover {
    color: rgb(190, 190, 190);
  }
  p {
    position: relative;
    font-size: 16px;
  }
  p::after {
    content: '';
    width: 80%;
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tail_right {
  background-color: rgb(76, 151, 157);
  a {
    color: black;
  }
}

.tail_left {
  background-color: rgb(147, 123, 99);
  color: white;
  a {
    color: white;
  }
  p::after {
    background-color: white;
  }
}

h2 {
  text-transform: uppercase;
  width: 100%;
  margin-top: 50px;
  font-size: 60px;
}

@media (max-width: 1000px) {
  .photo_left,
  .tail_right,
  .photo_right,
  .tail_left {
    width: 35vw;
  }
  .new-arrivals {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .photo_left,
  .tail_right,
  .photo_right,
  .tail_left {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .photo_left,
  .tail_right,
  .photo_right,
  .tail_left {
    width: 100%;
  }

  div.first,
  div.second {
    flex-wrap: wrap;
  }

  .main_page_offer {
    height: 1200px;
  }

  .photo_left,
  .tail_right,
  .photo_right,
  .tail_left {
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .second .tail_left {
    order: 2;
  }

  .sale {
    height: 80vh;
    padding-top: 0px;
    width: 100%;
    div {
      height: 50%;
      width: 100%;
    }
  }

  .new-arrivals {
    height: auto;
  }

  .item {
    height: 500px;
    width: 80%;
  }

  .subscribe {
    input {
      width: calc(60% - 15px);
    }
    button.subscribe_button {
      width: 60%;
    }
  }
}

@media (max-width: 300px) {
  .container {
    h2 {
      font-size: 30px;
    }
  }
  .subscribe {
    input {
      width: calc(80% - 15px);
    }
    button.subscribe_button {
      width: 80%;
    }
  }
}
