$menu_font_family: 'Rajdhani', sans-serif;
$menu_font_size: 18px;

.menu {
  background-color: black;
  color: rgb(184, 180, 180);
  display: flex;
  flex-wrap: nowrap;
  font-family: $menu_font_family;
  font-size: $menu_font_size;
  justify-content: space-evenly;
  nav {
    width: 65%;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
    li {
      margin: 0 55px 0 0;
    }
  }
  .dropdown {
    position: relative;
    &:hover .dropdown-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .dropdown-content {
    background-color: black;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 1;
  }
  .nav_small_screen {
    display: flex;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    .logo {
      justify-content: flex-start;
    }
    button {
      background-color: transparent;
      border: none;
      color: rgb(184, 180, 180);
      &:hover {
        color: white;
      }
    }
    .dropdown {
      &:hover {
        .dropdown-content {
          position: relative;
        }
      }
    }
    .nav_small_screen_slider {
      position: fixed;
      background-color: black;
      height: 100%;
      z-index: 1000;
      right: -50vw;
      top: 0;
      width: 50vw;
      transition: 0.75s linear;
      .close_button {
        position: absolute;
        top: 80px;
        right: 50px;
      }
      .categories_button {
        font-size: 20px;
      }
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 150px;
        font-size: 20px;
        padding-left: 20px;
        li {
          padding: 10px;
        }
      }
    }
    .open {
      right: 0;
    }
  }
}

.bold {
  font-weight: 800;
}

nav a {
  color: rgb(184, 180, 180);
  text-decoration: none;
  padding: 5px;
}

@media (max-width: 800px) {
  .menu {
    nav {
      width: 75%;
    }
  }
}

@media (max-width: 650px) {
  .menu {
    nav {
      width: 90%;
    }
  }
}

@media (max-width: 550px) {
  .menu {
    .nav_small_screen {
      .nav_small_screen_slider {
        width: 100vw;
        right: -100vw;
      }
      .open {
        right: 0;
      }
    }
  }
}

@media (max-width: 510px) {
  .menu {
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 60px;
    width: 100vw;
  }
  ul {
    flex-direction: column;
    margin-top: 15px;
  }
  li {
    margin: 10px 0;
  }
}
