@font-face {
  font-family: 'Integral';
  src: url('../../fonts/Fontspring-integralcf-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-400';
  src: url('../../fonts/Satoshi/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi-500';
  src: url('../../fonts/Satoshi/Satoshi-Medium.otf');
}

@font-face {
  font-family: 'Satoshi-700';
  src: url('../../fonts/Satoshi/Satoshi-Bold.otf');
}
